/*
 * Dawncraft Studio website basic CSS
 * @author Dawncraft Studio
*/

html, body
{
	height: 100%;
	width: 100%;
}

/* 控件 */
a:hover, a:focus
{
	color: #ff8c00;
}

/* 导航栏 */
.navbar
{
	box-shadow: 0px 2px 8px 0px rgba(48, 48, 48, 0.2);
}
@media (min-width: 576px)
{
	.navbar
	{
		padding-top: 0;
		padding-bottom: 0;
	}
}
.navbar-brand
{
	font-weight: bold;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus
{
	color: #ff8c00;
}
.navbar-nav > .nav-item > .nav-link
{
	font-weight: bold;
	padding: 16px;
	border-bottom: 4px solid transparent;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.navbar .navbar-nav > .nav-item > .nav-link:hover,
.navbar .navbar-nav > .nav-item > .nav-link:focus
{
	color: rgba(255, 140, 0, 0.75);
	background-color: #f2f2f2;
	border-bottom-color: rgba(255, 140, 0, 0.75);
}
.navbar .navbar-nav > .nav-item.active > .nav-link,
.navbar .navbar-nav > .nav-item.active > .nav-link:hover,
.navbar .navbar-nav > .nav-item.active > .nav-link:focus,
.navbar .navbar-nav > .nav-item.dropdown.show > .nav-link.dropdown-toggle
{
	color: #ff8c00;
	background-color: #eeeeee;
	border-bottom-color: #ff8c00;
}
.navbar .navbar-toggler
{
	border-color: #ff8c00;
}

/* 巨幕 */
.jumbotron
{
	height: 100%;
	box-shadow: 0px 0px 8px 0px rgba(48, 48, 48, 0.2);
}

/* 轮播图 */
.carousel
{
	height: 100%;
	margin-bottom: 12px;
	box-shadow: 0px 0px 16px 0px rgba(48, 48, 48, 0.8);
}
.carousel .carousel-item
{
	height: 100%;
	background-color: #777777;
}
.carousel .carousel-item > img
{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%)
}
/* @media (max-width: 576px) {} */

/* 小节 */
section
{
	/* 太丑了啊啊啊 */
	/* border-bottom: 1px solid #707070; */
}

/* 页脚 */
footer
{
	background: #f8f8f8;
	border-top: 1px solid #ff8c00;
	padding: 24px 0 36px 0;
}

/* 回到顶部按钮 */
.gotop
{
	display: none;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	background-color: #ff8c00;
	width: 64px;
	height: 64px;
	line-height: 58px;
	border-radius: 60%;
	position: fixed;
	right: 24px;
	bottom: 24px;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.gotop:hover
{
	background-color: #ff7a00;
}
